.border {
    width: 400px;
    border: 2px solid #4a4949;
    padding: 10px;
    margin: 4px;
    text-align: center;
}

.logoImg{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loadWelcome {
    font-size: 10px;
}

#command {
    font-style: italic;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #4a4949;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
