body {
    margin-top: 60px;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(33,158,184,1) 100%);
}

h1 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 20px;
}

h2 {
    color: #db771a;
}

h3 {
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 20px;
}

p {
    font-size: 14px;
    color: #ffffff;
}

.footer {
  font-size: 8px;
}

#welcomePage {
    padding-top: 25px;
    margin: auto;
    height: 75%;
    width: 75%;
    text-align: center;
}

#command {
    font-style: italic;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #4a4949;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: grey;
}
